body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

div {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, p {
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    h1, button {
        font-size: 16px;
    }
}
.btn {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f6f6f6;
}

.btn.selected {
    background-color: #e0e0e0;  // Highlight color when the button is selected
}

